body{
    background-image: linear-gradient(left right, green, maroon);
    background-color: maroon;
    padding: 10px;
    border-collapse: 2px;
}

.header{
    float: left;
    width: 100%;
    background-color: whitesmoke;
    text-align: left; 
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    font-size: 50px;
    line-height: 0px; 
}

.logo1{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}
.logo2{
    position: absolute;
    margin-top: 30px;
    margin-left: 140px;
}

.header-title{
    margin-left: 260px;
}

.navigation{
    float: right;
    font-size: 20px;
    margin-right: 15px;
    word-break: 20px;
    display: absolute;
    margin-top: auto;
}

.summary{
    float: left;
    min-height: 594px;
    width: 20%;
    background-color: white;
    padding: 5px;
    display:block;
    opacity: 75%;
}

button{
    float: left;
    width:100%;
}

h3{
    margin-left: 0px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;

}
.carousel-slide{
    margin-left: 5px;
    width: 60%;
    height: 300px;
    position: relative;
    float: left;
    display: block;
    border: 1px solid white
}

.carousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition-duration: all 0.5s ease-in-out;
    width: 50%;
    height: 300px;
    overflow: hidden;
    justify-content: center;
}


.circles{
    width: 120px;
    height: 120px;
    float: right;
    margin-left: 81%;
    margin-top: 110px;
    display: block;                
    position: absolute;
}

.footer{
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: none;
    float: right;
    margin-top: 5px;
    padding: 2px;
    text-align: right;
}